body {
	display: grid;
	grid-template-columns: 2fr 6fr 1fr; 
	grid-template-rows: 2fr 6fr 1fr; 
	grid-template-rows: minmax(100px,auto);
	grid-gap: 12px;
	color: white; 
	font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #2E0854	, #4B0082, #551A8B);
    padding: 30px;
}

header {
	grid-row: 2/3;
	grid-column: 1/4;
	display: grid;
	grid-template-columns: 1fr 7fr 1fr;
	grid-gap: 30px;
}

header > img {
	border-radius: 50%; 
	display: inline-block;
	height: auto;
	width: auto;
}

header > section  {
	display: inline-block;
}

header > section > h1{
font-family: 'Work Sans', sans-serif;
color: #98ff98;
font-size: 4rem;
display: inline;
}


header > section > button {
background-color: #98ff98;
cursor: pointer;

}

header > section > button:hover {
border: 2px solid rgba(81, 203, 238, 1);
background-color: white;

}


nav	{
	margin-top: 3rem; 
	grid-row: 3/4;
	grid-column: 1/2;
	
}

nav > h3{
font-family: 'Work Sans', sans-serif;

}

nav > button {
margin: 3px;
}




nav > button:nth-child(even) {
	background-color: #E6B9A1;
}


nav > button:nth-child(3n) {
	background-color: #E6E6CA;

}

nav > button:nth-child(4n) {
	background-color: #f9ecff;

}
nav > button:nth-child(5n) {
	background-color: #cbffe8;

}



nav > ul {
	padding: 0;
}

nav > ul > li > div {
margin: 5px;
border-radius: 0px;
display: block;
background-color: #4B0082;
color: white;
border: 1px  #98ff98 solid; 
padding: 12px;
cursor: pointer;
transition: 0.4s;

}




nav > ul > li > div:hover, .active {

	background-color:  #98ff98;
	border: 2px solid #2E0854;
	text-align: end;
	color: #2E0854;
}

nav > ul > li > .content {
	display: none;
	background-color: #4B0082;
	color: white;
	border-radius: 0px;
	border: 2px solid #98ff98;
}

nav > ul > li > .content:hover {
	border: 2px solid #98ff98;
	background-color: #4B0082;
	color: white;
}

main {
	grid-row: 3/4;
	grid-column: 2/4; 
	margin-top: 1rem; 

}

main  > h2 {
	font-size: 2rem;
	font-family: 'Work Sans', sans-serif;

}
main > ul {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, minmax(1px, 100%));
    padding-left: 0;
    list-style: none;
}


main > section  {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5,minmax(150px,auto));
	grid-gap: 2rem;
	margin-right: 5rem;
	margin-left: 5rem;
}

main > section > div {
	display: grid;
	 opacity: 0.8;
	 align-items: center;
	 cursor: pointer;
}

main > section > div:hover {
	 opacity: 1;
	  border: 2px solid rgba(81, 203, 238, 1);
}

main > section > div > p {
	color: #2E0854;
	text-align: center;
	display: block;
	margin: 10px;
}

main > section > div > p > span {
	display: block;
	font-size: .8rem;
	padding-right: 5px;
	padding-left: 5px;

}
main > section > div:nth-child(even){
	background-color: #cbffe8;

}

main > section > div:nth-child(odd) {
	background-color: #f9ecff;
}

main > section > div:nth-child(5n) {
	background-color:#E6E6CA;
}

main > section > div:nth-child(4n) {
	background-color: #E6B9A1;
}




footer {
	grid-column: 1/9;
	grid-row: 8/9;
}

footer > h6 {
	text-align: center;
}

/*Independent Elements*/

button {
padding: 12px;
border-radius: 8px;
border: none;
}


li {
list-style-type: none;
}


